.popup-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
}

.popup-content-container {
    position: absolute;
    top: 100px;
    left: 300px;
}

.popup-header {
    cursor: move;
    border-radius: .25rem .25rem 0 0;
    border: 1px solid #4f81bd;
    padding: 4px 5px;
    height: 20px;
    background-color: rgb(85, 149, 170);
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.popup-header-text {
    text-overflow: ellipsis;
    flex-grow: 1;
    font-size: .8rem;
}

.popup-header-button-text {
    width: 20px;
    height: 20px;
    font-size: 1rem;
    line-height: 1.25rem;
    border: 1px solid #ddd;
    border-radius: .125rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-family: Arial,sans-serif;
    display: inline-block;
}

.popup-content {
    background-color: white;
    padding: 50px 20px 30px 20px;
}