<app-popup [header]="'租金级别编辑'">
    <div class="form-fields">
        <div class="form-field">
            <div class="form-field-description rent">租金名称</div>
            <input class="rent textbox">
        </div>

        <div class="form-field">
            <div class="form-field-description rent">租金（元/天）</div>
            <input class="rent textbox">
        </div>
    </div>

    <div class="submit">
        <button class="btn submit-right-btn">新增</button>
        <button class="btn">取消</button>
    </div>
</app-popup>