<div class="header">
    <app-headline [text]="'借阅证充值'"></app-headline>
</div>

<div class="content">
    <div class="field-part1">
        <div class="field-content">
            <div class="form-field">
                <div class="form-field-description">读者ID</div>
                <input class="textbox">
            </div>
            <div class="form-field">
                <div class="form-field-description">性别</div>
                <input class="textbox">
            </div>
            <div class="form-field">
                <div class="form-field-description">读者姓名</div>
                <input class="textbox">
            </div>
            <div class="form-field">
                <div class="form-field-description">借阅金额</div>
                <input class="textbox">
            </div>
            <div class="form-field">
                <div class="form-field-description">充值金额</div>
                <input class="textbox">
            </div>
            <div class="form-field">
                <div class="form-field-description">充值后的金额</div>
                <input class="textbox">
            </div>

        </div>
        <img class="student-photo">
    </div>

    <div class="field-part2">
        <div class="form-field remark">
            <div class="form-field-description remark">备注</div>
            <textarea class="multiline-textbox brief-introduce"></textarea>
        </div>
    </div>

    <div class="submit-part">
        <button class="btn submit-btn">确认充值</button>
        <button class="btn submit-btn">返回</button>
    </div>
</div>