<app-popup [header]="'读者分类编辑'">
    <div class="form-fields">
        <div class="form-field">
            <div class="form-field-description classification">类别名</div>
            <input class="classification textbox">
        </div>

        <div class="form-field">
            <div class="form-field-description classification">借阅数量限制</div>
            <input class="classification textbox">
        </div>

        <div class="form-field">
            <div class="form-field-description classification">借阅天数</div>
            <input class="classification textbox">
        </div>

        <div class="form-field">
            <div class="form-field-description classification">允许续借次数</div>
            <input class="classification textbox">
        </div>

        <div class="form-field">
            <div class="form-field-description classification">租金权重</div>
            <input class="classification textbox">
        </div>
    </div>

    <div class="submit">
        <button class="btn submit-right-btn">新增</button>
        <button class="btn">取消</button>
    </div>
</app-popup>