<app-popup [header]="'存放位置'">
    <div class="form-fields">
        <div class="form-field">
            <div class="form-field-description store">存放位置编号</div>
            <input class="store textbox">
        </div>

        <div class="form-field">
            <div class="form-field-description store">存放位置</div>
            <input class="store textbox">
        </div>
    </div>

    <div class="submit">
        <button class="btn submit-right-btn">新增</button>
        <button class="btn">取消</button>
    </div>
</app-popup>