.btn {
    padding: 6px 15px;
    color: #FFFFFF;
    background: #5595AA border-box;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #5595AA;
    box-sizing: border-box;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
    font-weight: normal;
}

.btn:disabled {
    opacity: 0.5;
    cursor: auto;
}