<body>
  <div class="container">
    <a [routerLink]="'/book-list'">book-list</a><br>
    <a [routerLink]="'/book-detail'">book-detail</a><br>
    <a [routerLink]="'/reader-list'">reader-list</a><br>
    <a [routerLink]="'/reader-detail'">reader-detail</a><br>
    <a [routerLink]="'/publish-list'">publish-list</a><br>
    <a [routerLink]="'/publish-detail'">publish-detail</a><br>
    <a [routerLink]="'/reader-classification-list'">reader-classification-list</a><br>
    <a [routerLink]="'/reader-classification-detail'">reader-classification-detail</a><br>
    <a [routerLink]="'/store-position-list'">store-position-list</a><br>
    <a [routerLink]="'/store-position-detail'">store-position-detail</a><br>
    <a [routerLink]="'/rent-level-list'">rent-level-list</a><br>
    <a [routerLink]="'/rent-level-detail'">rent-level-detail</a><br>
    <a [routerLink]="'/application-card-pay'">application-card-pay</a><br>
    <router-outlet></router-outlet>
  </div>
</body>
