@import "./styles/layout.css";
@import "./styles/controls/button.css";
@import "./styles/controls/table.css";
@import "./styles/controls/textbox.css";
@import "./styles/controls/multiline-textbox.css";
@import "./styles/controls/form.css";
@import "./styles/controls/label.css";


* {
    font-family: 微软雅黑;
}