<div class="header">
    <app-headline [text]="'新增读者'"></app-headline>
</div>

<div class="content detail-content">

    <div class="field-part1">
        <div class="field-content-left">
            <p class="label-title">读者相片</p>
            <img class="book-img">
        </div>

        <div class="field-content-right">
            <div class="form-field">
                <div class="form-field-description">读者姓名:</div>
                <input class="textbox">
            </div>
            <div class="form-field">
                <div class="form-field-description">学院:</div>
                <input class="textbox">
            </div>
            <div class="form-field">
                <div class="form-field-description">性别:</div>
                <input class="textbox">
            </div>
            <div class="form-field">
                <div class="form-field-description">联系电话:</div>
                <input class="textbox">
            </div>
            <div class="form-field">
                <div class="form-field-description">类别:</div>
                <input class="textbox">
            </div>
            <div class="form-field">
                <div class="form-field-description">邮箱:</div>
                <input class="textbox">
            </div>
            <div class="form-field">
                <div class="form-field-description">证件类型:</div>
                <input class="textbox">
            </div>
            <div class="form-field">
                <div class="form-field-description">剩余借阅次数:</div>
                <input class="textbox">
            </div>
            <div class="form-field">
                <div class="form-field-description">证件号码:</div>
                <input class="textbox">
            </div>
            <div class="form-field">
                <div class="form-field-description">剩余借阅数量:</div>
                <input class="textbox">
            </div>
            <div class="form-field">
                <div class="form-field-description">住址:</div>
                <input class="textbox address">
            </div>
            <div class="form-field remark-field">
                <div class="form-field-description">备注:</div>
                <textarea class="multiline-textbox remark"></textarea>
            </div>
        </div>
        <div>

        </div>

    </div>
    <div class="submit-part">
        <button class="btn submit-btn">打印借阅证</button>
        <button class="btn submit-btn">返回</button>
    </div>
</div>